$bgColor: #000000;
$txtColor: #ffffff;

body {
  background-color: $bgColor;

}

div {
 text-align: center;
}
#hour, #minute, #second {
  font-size: 4em;
  font-family: 'Lato', sans-serif;
  color: $txtColor;
  display: inline-block;
  line-height: 10em;
}
